# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variable files
*.tfvars
!terraform.tfvars.example
terraform.tfvars

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Terraform plan files
tfplan
*.tfplan

# Optional plan output
terraform-plan.txt